body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

aside {
    width: 500px;
    height: 500px;
    background-color: green;
    position: relative;
    animation: cube 8s infinite;
}

@keyframes cube {
    0% {
        background: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background: orange;
        left: 200px;
        top: 0px;
    }

    50% {
        background: yellow;
        left: 200px;
        top: 200px;
    }

    75% {
        background: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background: blue;
        left: 0px;
        top: 0px;
    }

}