body {
    background-color: #ccc;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.card {
    position: absolute;
    width: 12rem;
    height: 17rem;
    transition: transform 0.5s ease;
    transform-origin: center bottom;
}

.cards:hover .card {
    transition: transform 0.5s ease;
}

.card-one {
    background-color: red;
}

.card-two {
    background-color: orange;
}

.card-three {
    background-color: yellow;
}

.card-four {
    background-color: greenyellow;
}

.card-five {
    background-color: green;
}

.card-six {
    background-color: lightblue;
}

.card-seven {
    background-color: blue;
}

.card-eight {
    background-color: purple;
}

.card-nine {
    background-color: pink;
}

.cards:hover .card-one {
    transform: translateX(4rem) rotatez(40deg);
}

.cards:hover .card-two {
    transform: translateX(1.5rem) rotatez(30deg);
}

.cards:hover .card-three {
    transform: translateX(1rem) rotatez(20deg);
}

.cards:hover .card-four {
    transform: translateX(0.5rem) rotatez(10deg);
}

.cards:hover .card-five {
    transform: translateX(0.5rem) rotatez(-10deg);
}

.cards:hover .card-six {
    transform: translateX(-0.5rem) rotatez(-20deg);
}

.cards:hover .card-seven {
    transform: translateX(-1.0rem) rotatez(-30deg);
}

.cards:hover .card-eight {
    transform: translateX(-1.0rem) rotatez(-40deg);
}

.cards:hover .card-nine {
    transform: translateX(-1.5rem) rotatez(-60deg);
}