body {
    background-color: #dfdfdf;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: rgb(247, 247, 247);
    border: 6px solid #bdbdbd;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: relative;
}

.ms,
.s {
    position: absolute;
    height: 100px;
    width: 6px;
    margin: auto;
    top: -27%;
    left: 0;
    bottom: 0;
    right: 0;
    transform-origin: bottom center;
    transform: rotate(0deg);
    z-index: 1;
}

.ms {
    background-color: rgb(88, 88, 88);
    height: 100px;
    width: 6px;
    animation: rotate-minute 3600s linear infinite;
}

.s {
    height: 90px;
    width: 2px;
    background-color: red;
    animation: rotation-second 60s linear infinite;
}

.dot {
    background-color: black;
    border-radius: 50%;
    position: absolute;
    height: 12px;
    width: 12px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@keyframes rotate-minute {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}